<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p th:text="${bubbleint}" />
    <br></br>
    <p th:text="${bubblestr}" />
    <br></br>
    <p th:text="${bubbleemp}" />
    <br></br>
    <p th:text="${btime}" />

    <p th:text="${insertint}" />
    <br></br>
    <p th:text="${insertstr}" />
    <br></br>
    <p th:text="${insertemp}" />
    <br></br>
    <p th:text="${itime}" />

    <p th:text="${selectint}" />
    <br></br>
    <p th:text="${selectstr}" />
    <br></br>
    <p th:text="${selectemp}" />
    <br></br>
    <p th:text="${stime}" />

    <br></br>
    <p th:text="${results}" />
</body>
</html>