<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
<head>
    <title>Uno!</title>
    <style>
        table {
            width: 80%;
            margin: 30px auto;
            border-collapse: collapse;
        }
        th,
        td {
            padding: 10px;
            border: 1px solid #666;
        }
    </style>
</head>

<div layout:fragment="content">
    <body>
    <div class="col-20" style="text-align: center;">
        <h1><strong>UNO!</strong></h1>
    </div>
    <table>
        <tr>
            <th><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7JdyX5C3HBiAPxDP_q7zn_BI8I7NOHaf6zA&usqp=CAU" alt="Next Card"></th>
            <th><button type="button" >Draw Card</button></th>
            <th><button type="button" >Place Card</button></th>
            <th><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7JdyX5C3HBiAPxDP_q7zn_BI8I7NOHaf6zA&usqp=CAU" alt="Current Hand"></th>
        </tr>
        <tr>
            <td><button type="button" >Card 1!</button></td>
            <td><button type="button" >Card 2!</button></td>
            <td><button type="button" >Card 3!</button></td>
            <td><button type="button" >Card 4!</button></td>
        </tr>
        <tr>
            <td><button type="button" >Card 5!</button></td>
            <td><button type="button" >Card 6!</button></td>
            <td><button type="button" >Card 7!</button></td>
            <td><button type="button" >Card 8!</button></td>
        </tr>

    </table>
    </body>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js"></script>
</div>

</html>