<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
<head>
    <title>Uno</title>
</head>
<div layout:fragment="content">
    <h2>Kevin's and Sean's Journal</h2>
    <iframe width="1200" height="600" src="https://docs.google.com/document/d/e/2PACX-1vSF95TOvylim7k2PnHEtX_3ayGsAdoaU-77cF1od_fpe7_95cMNZjHpWLBNr_4xwlbRNkqRAIYqNNjd/pub?embedded=true" frameborder="0" allowfullscreen="true"></iframe>
    <h2>Andrew's and Alex's Journal</h2>
    <iframe width="1200" height="600" src="https://docs.google.com/document/d/e/2PACX-1vS0sUq6boxRvgRP8YqqsrCx4GlqvMRnLSKwAPBTJdUN9ha0OBTfHgJG_oLO0DtnJ90F6eJYzwDw_nzY/pub?embedded=true" frameborder="0" allowfullscreen="true"></iframe>
</div>

</html>