<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org/">
<head>
    <div th:replace="fragments/header :: head"></div>
    <title>Factorial</title>
</head>
<body>
<!-- Navbar -->
<div th:replace="fragments/body :: navbar"></div>

<div class="header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Factorial</h1>
    <hr>
    <br>
</div>

<div class="card w-75" style="padding-left:0;padding-right:0;margin-left:auto;margin-right:auto;display:block;">
    <div class="card-body">
        <h5 class="card-title">Factorial Algorithm</h5>
        <form method="GET" th:action="@{/FactorialD}">
            <div class="form-group">
                <input type="number" class="form-control" name="value" placeholder="Enter value">
                <small th:if="${error}" th:text="${error}" class="form-text text-danger">Please enter a valid integer between 0 and 20.</small>
            </div>
            <p th:if="${result}" class="card-text" th:text="'Input: ' + ${input} + ' | Result: ' + ${result}"></p>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

<br>

<table th:if="${result}" class="table table-striped w-75" style="margin: auto;">
    <thead>
    <tr>
        <th scope="col">Method</th>
        <th scope="col">Time (ms)</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Recursion</td>
        <td th:text="${recursionTime}"></td>
    </tr>
    <tr>
        <td>For Loop</td>
        <td th:text="${forLoopTime}"></td>
    </tr>
    <tr>
        <td>Stream</td>
        <td th:text="${streamTime}"></td>
    </tr>
    </tbody>
</table>

<!-- Bootstrap & JQuery JS -->
<div th:replace="fragments/body :: scripts"></div>
</body>
</html>