<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
<head>
    <title>Fibonacci</title>
</head>

<body>
<div layout:fragment="content">
    `<div class="container">

    <div class="center-block" style="margin: 2% 3% 3%; font-family: gilroy,serif;">
        <!-- Title -->
        <div class="col-12" style="text-align: center;">
            <h1><strong>Fibonacci Recursion Minilab</strong></h1>
        </div>

        <!-- Form and Action -->
        <div class="jumbotron text-center row">
            <!-- Input -->
            <div class="col-md-6">
                <h3>Choose a number from 2 to 47</h3>
                <small th:if="${error}" th:text="${error}" class="form-text text-danger">Please enter a valid integer between 0 and 20.</small>
                <form id="fibForm" action="/fibonacci" method="GET" >
                    <input name="fibseq" id="fibseq" type="number" min="2" max="47" >
                    <button>Go!</button>
                </form>
            </div>
            <!-- Output/Result -->
            <div class="col-md-6">
                <h3>Algorithm comparison</h3>
                <p th:text="${input}"></p>
                <p th:text="${result}"></p>
                <table class="mx-auto">
                    <tr>
                        <th scope="col">Method</th>
                        <th scope="col">Time</th>
                    </tr>
                    <tr>
                        <td scope="col">Recursion</td>
                        <td th:text="${recurseTime}"></td>
                    </tr>
                    <tr>
                        <td scope="col">For Loop</td>
                        <td th:text="${forTime}"></td>
                    </tr>
                    <tr>
                        <td scope="col">While Loop</td>
                        <td th:text="${whileTime}"></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
    <style>
        table, td, th {
            border: 1px solid var(--dblue);
        }
        td, th {
            text-align:left;
        }
    </style>
</div>`
</body>

</html>