<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">

<div layout:fragment="content">
    <body>
        <p th:text="${bubblei}" />
        <p th:text="${bubbles}" />
        <p th:text="${bubblee}" />
        <p th:text="${btime}" />
        <br></br>

        <p th:text="${inserti}" />
        <p th:text="${inserts}" />
        <p th:text="${inserte}" />
        <p th:text="${itime}" />
        <br></br>

        <p th:text="${selecti}" />
        <p th:text="${selects}" />
        <p th:text="${selecte}" />
        <p th:text="${stime}" />
        <br></br>

        <p th:text="${results}" />
        <p th:text="${analysis}" />
    </body>
</div>



</html>