<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Leaderboard</title>
    </head>
    <body>
        <div>
            <table style="width:100%">
                <tr>
                    <th style="width:30px">Rank</th>
                    <th style="width:200px">Name</th>
                    <th style="width:50px">Score</th>
                </tr>
                <tr>
                    <td>1</td>
                    <td>---</td>
                    <td>---</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>---</td>
                    <td>---</td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>---</td>
                    <td>---</td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>---</td>
                    <td>---</td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>---</td>
                    <td>---</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>---</td>
                    <td>---</td>
                </tr>
                <tr>
                    <td>7</td>
                    <td>---</td>
                    <td>---</td>
                </tr>
                <tr>
                    <td>8</td>
                    <td>---</td>
                    <td>---</td>
                </tr>
                <tr>
                    <td>9</td>
                    <td>---</td>
                    <td>---</td>
                </tr>
                <tr>
                    <td>10</td>
                    <td>---</td>
                    <td>---</td>
                </tr>
                <tr th:each="Player : ${leaderboard}">
                    <td th:text="${leaderboard.IndexOf(Player) + 1}"></td>
                    <td th:text="${Player.getName()}"></td>
                    <td th:text="${Player.getScore}"></td>
                </tr>
            </table>
        </div>
    </body>
</html>