<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
    <head>
        <meta charset="UTF-8">
        <title>Leaderboard</title>
    </head>
    <body style="background-color: blanchedalmond" >
        <div layout:fragment="content">
            <h1>Leaderboard</h1>
            <form id="refresh" action="/leaderboard" method="GET" >
                <button>Refresh</button>
            </form>
            <table style="width:100%">
                <tr>
                    <th style="width:30px">Rank</th>
                    <th style="width:200px">Name</th>
                    <th style="width:50px">Score</th>
                </tr>
            </table>
        </div>
    </body>
</html>