<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">

    <head>
        <title>Login</title>
    </head>
    <body style="background-color: blanchedalmond" >
        <div layout:fragment="content">
            <form class="form-signin" th:action="@{/login}" method="post">
                <style>
                    img {
                        display: block;
                        margin-left: auto;
                        margin-right: auto;
                    }
                    h1 {text-align: center;}


                </style>
                <img class="mb-4" src="https://www.pinclipart.com/picdir/middle/541-5418277_cartoon-rice-bowl-png-clipart.png" alt="" style="width:50%" />
                <h1 class="h3 mb-3 font-weight-normal"><span style="color: cornflowerblue; "><i>Please sign in</i></span></h1>
                <div th:if="${param.error}">
                    Invalid email and password.
                </div>
                <div th:if="${param.logout}">
                    You have been logged out.
                </div>


                <label for="inputEmail" class="sr-only">Email address</label>


                <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email" required="" />

                    <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required="" />
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>
            <form class="form-signin" th:action="@{/signup}" method="get">
                <button class="btn btn-md btn-success btn-block" type="Submit">Signup Here</button>
            </form>
        </div>
    </body>
</html>