<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color:#ff6200;">
<h1 class="h6 mb-3 font-weight-normal"><span style="color: powderblue; "><i>Array list and Link List</i></span></h1>
<p th:text="'ArrayList: ' + ${albefore}" />
<p th:text="'LinkedList: ' + ${llbefore}" />
<br></br>

<h1 class="h6 mb-3 font-weight-normal"><span style="color: powderblue; "><i>After insert</i></span></h1>
<p th:text="'ArrayList after insert: ' + ${aldispi}" />
<p th:text="'LinkedList after insert: ' + ${lldispi}" />
<p th:text="${altimei}" />
<p th:text="${lltimei}" />
<br></br>

<h1 class="h6 mb-3 font-weight-normal"><span style="color: powderblue; "><i>After delete</i></span></h1>
<p th:text="'ArrayList after delete: ' + ${aldispd}" />
<p th:text="'LinkedList after delete: ' + ${lldispd}" />
<br></br>
<p th:text="${altimed}" />
<p th:text="${lltimed}" />
<br></br>

<h1 class="h6 mb-3 font-weight-normal"><span style="color: powderblue; "><i>After sort</i></span></h1>
<p th:text="'ArrayList after sort: ' + ${aldisps}" />
<p th:text="'LinkedList after sort: ' + ${lldisps}" />
<p th:text="${altimes}" />
<p th:text="${lltimes}" />
<br></br>

<p th:text="${analysis}" />
</body>
</html>