<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color:#bdffcb;">
<h1 class="h3 mb-3 font-weight-normal"><span style="color: coral; "><i>Bubble Sort</i></span></h1>

<h1 class="h6 mb-3 font-weight-normal"><span style="color: powderblue; "><i>By int</i></span></h1>
<p th:text="${bubbleint}" />
<br></br>
<h1 class="h6 mb-3 font-weight-normal"><span style="color: powderblue; "><i>By string</i></span></h1>
<p th:text="${bubblestr}" />
<br></br>
<h1 class="h6 mb-3 font-weight-normal"><span style="color: powderblue; "><i>By alpha</i></span></h1>
<p th:text="${bubbleemp}" />
<br></br>
<p th:text="${btime}" />

<h1 class="h3 mb-3 font-weight-normal"><span style="color: #ff8400; "><i>Insert Sort</i></span></h1>
<h1 class="h6 mb-3 font-weight-normal"><span style="color: powderblue; "><i>By int</i></span></h1>
<p th:text="${insertint}" />
<br></br>
<h1 class="h6 mb-3 font-weight-normal"><span style="color: powderblue; "><i>By string</i></span></h1>
<p th:text="${insertstr}" />
<br></br>
<h1 class="h6 mb-3 font-weight-normal"><span style="color: powderblue; "><i>By alpha</i></span></h1>
<p th:text="${insertemp}" />
<br></br>
<p th:text="${itime}" />

<h1 class="h3 mb-3 font-weight-normal"><span style="color: #ff0000; "><i>Select Sort</i></span></h1>
<h1 class="h6 mb-3 font-weight-normal"><span style="color: powderblue; "><i>By int</i></span></h1>
<p th:text="${selectint}" />
<br></br>
<h1 class="h6 mb-3 font-weight-normal"><span style="color: powderblue; "><i>By string</i></span></h1>
<p th:text="${selectstr}" />
<br></br>
<h1 class="h6 mb-3 font-weight-normal"><span style="color: powderblue; "><i>By alpha</i></span></h1>
<p th:text="${selectemp}" />
<br></br>
<p th:text="${stime}" />

<br></br>
<p th:text="${results}" />
</body>
</html>