<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
<head>
    <title>minilabTest</title>
</head>

<div layout:fragment="content">
    <div class="card-body">
        <h5 class="card-title">Factorial Algorithm</h5>
        <form method="GET" th:action="@{/test}">
            <div class="form-group">
                <input type="number" class="form-control" name="value" placeholder="Enter value">
                <small th:if="${error}" th:text="${error}" class="form-text text-danger">Please enter a valid integer between 0 and 20.</small>
            </div>
            <p th:if="${result}" class="card-text" th:text="'Input: ' + ${input} + ' | Result: ' + ${result}"></p>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <table th:if="${result}" class="table table-striped w-75" style="margin: auto;">
            <thead>
            <tr>
                <th scope="col">Method</th>
                <th scope="col">Time (ms)</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Recursion</td>
                <td th:text="${recursionTime}"></td>
            </tr>
            <tr>
                <td>For Loop</td>
                <td th:text="${forLoopTime}"></td>
            </tr>
            <tr>
                <td>Stream</td>
                <td th:text="${streamTime}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</html>
