<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
<head>
    <title>Uno</title>
</head>

<div layout:fragment="content">
    <style>
        h1 {text-align: center;}
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

    </style>
    <h1 class="h3 mb-3 font-weight-normal"><span style="color: coral; "><i>UNO</i></span></h1>
    <iframe height="1000px" width="100%" src="https://repl.it/@KevinHu10/Uno?lite=true&outputonly=1" scrolling="no" frameborder="no" allowtransparency="true" allowfullscreen="true" sandbox="allow-forms allow-pointer-lock allow-popups allow-same-origin allow-scripts allow-modals"></iframe>


    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js"></script>
</div>

</html>