<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">

<div layout:fragment="content">
    <div class="container">
        <div class="row">
            <form action="#" th:action="@{/unoInit}" method="post">
                <p style="color: #FF10F0">Number of players: <input type="number" name="numPlayers"/></p>
                <p style="color: #FF10F0">Names: <input type="text" name="names"/></p>
                <p><input type="submit" value="Submit"/></p>
            </form>
        </div>
</div>
</html>

