<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{default}">
<head>
    <title>Uno</title>
</head>
<body>
    <form action="/unoInit">
        <p>Number of players: <input type="text" name="numPlayers" /></p>
        <p>Names: <input type="text" name="names" /></p>
        <p>Number of bots: <input type="text" name="numBots" /></p>
        <p><input type="submit" value="Submit" /></p>
    </form>
</body>
</html>